version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DEBUG=1
      - SECRET_KEY=changes-this-in-prod
      - ALLOWED_HOSTS=localhost,127.0.0.1
      - DATABASE_URL=postgres://produtividade_user:produtividade_pass@db:5432/produtividade_db


  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=produtividade_db
      - POSTGRES_USER=produtividade_user
      - POSTGRES_PASSWORD=produtividade_pass

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  postgres_data:
